Repository altitude-labs/altitrace: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-sdk, build-frontend, clippy, fmt, test

build-sdk:
  stage: build-sdk
  image: oven/bun:alpine
  before_script:
  - cd packages/sdk && bun install
  script:
  - bun run build
  artifacts:
    paths:
    - packages/sdk/dist/
    expire_in: 1 hour
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - node_modules/
    - .cache/
    policy: pull-push
    when: on_success

build-frontend:
  stage: build-frontend
  image: oven/bun:alpine
  needs:
  - build-sdk
  before_script:
  - cd packages/frontend && bun install
  - mkdir -p node_modules/@altitrace
  - ln -sf ../../sdk node_modules/@altitrace/sdk
  script:
  - bun run build
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - node_modules/
  ...

clippy:
  interruptible: true
  timeout: 30m
  stage: lint
  image: $RUST_IMAGE
  before_script:
  - apt-get update && apt-get install -y $BUILD_DEPENDENCIES
  - rustup update
  - rustup component add clippy rustfmt
  script:
  - RUSTFLAGS="-D warnings" cargo clippy --workspace --all-targets --all-features
  cache:
  ...

fmt:
  stage: lint
  image: $RUST_IMAGE
  before_script:
  - apt-get update && apt-get install -y $BUILD_DEPENDENCIES
  - rustup update
  - rustup component add rustfmt
  script:
  - cargo fmt --all --check
  cache:
    key: ${CI_COMMIT_REF_SLUG}-rust
    paths:
    - target/
    - .cargo/
    policy: pull
    when: on_success

test:
  stage: test
  image: $RUST_IMAGE
  before_script:
  - apt-get update && apt-get install -y $BUILD_DEPENDENCIES
  - curl -L https://foundry.paradigm.xyz | bash
  - export PATH="$HOME/.foundry/bin:$PATH"
  - foundryup
  - rustup update
  - rustup component add clippy rustfmt
  script:
  ...

fix(ui): misc improvements
  .gitlab-ci.yml
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/forms/ContractAddressInput.tsx
  packages/frontend/src/components/forms/ContractImportDialog.tsx
  packages/frontend/src/components/layout/AppLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
Due: build-sdk, build-frontend, clippy, fmt, test

Develop
  .gitlab-ci.yml
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/forms/ContractAddressInput.tsx
  packages/frontend/src/components/forms/ContractImportDialog.tsx
  packages/frontend/src/components/layout/AppLayout.tsx
  packages/frontend/src/components/layout/Sidebar.tsx
Due: build-sdk, build-frontend, clippy, fmt, test

vercel conf docs
  book/vercel.json
Due: none

misc
  vercel.json
Due: none

misc
  .gitignore
  book/.gitignore
  book/vercel.json
  book/vocs.config.ts
  bun.lock
Due: none

misc
  turbo.json
Due: none

dezpidjezoi
  vercel.json
Due: none

change logo book ui
  book/docs/public/logo.png
  book/docs/public/logo.svg
  book/vocs.config.ts
Due: none

update url docs
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/layout/Footer.tsx
Due: build-frontend

fix: docs link
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/layout/Footer.tsx
Due: build-frontend

add description
  book/docs/pages/index.mdx
Due: none

add docs base path
  book/bun.lockb
  book/vocs.config.ts
  bun.lock
Due: none

we try
  book/generate-redirects.ts
  book/package.json
  book/redirects.config.ts
Due: none

we try 2
  book/vercel.json
  book/vocs.config.ts
  packages/frontend/src/components/layout/Footer.tsx
  vercel.json
Due: build-frontend

we try 3
  book/vercel.json
  book/vocs.config.ts
  packages/frontend/next.config.js
Due: build-frontend

fix: update vercel build command to use turbo filter
  vercel.json
Due: none

fix: remove basePath from vocs config and fix routing
  book/redirects.config.ts
  book/vocs.config.ts
Due: none

fix
  packages/frontend/next.config.js
  packages/frontend/src/app/page.tsx
Due: build-frontend

add basepath
  book/vocs.config.ts
Due: none

azjfezaoi
  book/vocs.config.ts
Due: none

misc
  book/generate-redirects.ts
  book/redirects.config.ts
Due: none

feijofezoij
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/layout/Footer.tsx
Due: build-frontend

target blank
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/layout/Footer.tsx
Due: build-frontend

update readme
  README.md
Due: none

chore: fix trace
  packages/frontend/src/app/simulator/[id]/page.tsx
  packages/frontend/src/app/simulator/new/page.tsx
  packages/frontend/src/app/simulator/page.tsx
  packages/frontend/src/components/forms/BundleTransactionForm.tsx
  packages/frontend/src/components/simulation/EnhancedEventDisplay.tsx
  packages/frontend/src/components/simulation/EnhancedSimulationResults.tsx
  packages/frontend/src/types/bundle.ts
  packages/frontend/src/utils/bundle-execution.ts
  packages/frontend/src/utils/trace-integration.ts
Due: build-frontend

style: fmt
  packages/frontend/next.config.js
  packages/frontend/src/app/api/compile/route.ts
  packages/frontend/src/app/api/compilers/preload/route.ts
  packages/frontend/src/components/forms/CompilerPanel.tsx
  packages/frontend/src/components/forms/ContractImportDialog.tsx
  packages/frontend/src/components/forms/ContractManager.tsx
  packages/frontend/src/components/forms/StateOverrideForm.tsx
  packages/frontend/src/components/forms/TransactionForm.tsx
  packages/frontend/src/components/shared/DecHexToggle.tsx
  packages/frontend/src/components/simulation/EnhancedGasAnalysis.tsx
  packages/frontend/src/components/simulation/InlineTitleEditor.tsx
  packages/frontend/src/config/chains.ts
  packages/frontend/src/hooks/useStateOverrides.ts
  packages/frontend/src/services/transaction-loader.ts
  packages/frontend/src/utils/client.ts
  packages/frontend/src/utils/load-cached-compiler.js
  packages/frontend/src/utils/state-overrides.ts
  packages/frontend/src/utils/validation.ts
Due: build-frontend

feat(front): share results
  packages/frontend/package.json
  packages/frontend/src/app/api/storage/[id]/route.ts
  packages/frontend/src/app/simulator/[id]/metadata.ts
  packages/frontend/src/app/simulator/[id]/page.tsx
  packages/frontend/src/app/simulator/new/page.tsx
  packages/frontend/src/app/simulator/page.tsx
  packages/frontend/src/components/simulation/InlineTitleEditor.tsx
  packages/frontend/src/components/ui/Toast.tsx
  packages/frontend/src/components/ui/index.ts
  packages/frontend/src/lib/redis.ts
  packages/frontend/src/utils/storage.ts
Due: build-frontend

chore: clean
  packages/frontend/src/app/simulator/new/page.tsx
  packages/frontend/src/components/layout/AppLayout.tsx
Due: build-frontend

chore(ui): bundle execution results background color
  packages/frontend/src/components/simulation/BundleSimulationResults.tsx
Due: build-frontend

feat: assets balance tracking
  packages/frontend/src/app/api/rpc-proxy/route.ts
  packages/frontend/src/components/simulation/BundleSimulationResults.tsx
  packages/frontend/src/components/simulation/EnhancedEventDisplay.tsx
  packages/frontend/src/components/simulation/EnhancedSimulationResults.tsx
  packages/frontend/src/config/chains.ts
  packages/frontend/src/utils/bundle-execution.ts
  packages/frontend/src/utils/client.ts
  packages/frontend/src/utils/token-symbols.ts
  packages/frontend/src/utils/trace-integration.ts
Due: build-frontend

chore: clean
  packages/frontend/src/components/simulation/BundleSimulationResults.tsx
  packages/frontend/src/components/simulation/EnhancedEventDisplay.tsx
  packages/frontend/src/components/simulation/EnhancedSimulationResults.tsx
  packages/frontend/src/utils/bundle-execution.ts
  packages/frontend/src/utils/trace-integration.ts
Due: build-frontend

chore: clean logs
  packages/frontend/src/app/simulator/[id]/page.tsx
  packages/frontend/src/config/chains.ts
  packages/frontend/src/utils/bundle-execution.ts
  packages/frontend/src/utils/trace-integration.ts
Due: build-frontend

fix: request tab in bundle
  packages/frontend/src/components/simulation/BundleSimulationResults.tsx
  packages/frontend/src/components/simulation/EnhancedSimulationResults.tsx
Due: build-frontend

feat: state changes
  packages/frontend/src/components/simulation/EnhancedSimulationResults.tsx
  packages/frontend/src/components/simulation/StateChangesView.tsx
  packages/frontend/src/utils/trace-integration.ts
Due: build-frontend

Fix: integrate remote documentation links in Footer
  packages/frontend/src/components/layout/Footer.tsx
Due: build-frontend

test code vercel build
  bun.lock
  vercel.json
Due: none

fix vercel
  book/vercel.json
Due: none

Path conditions:
  build-sdk: any of: packages/sdk/**/*, .gitlab-ci.yml
  build-frontend: any of: packages/frontend/**/*, .gitlab-ci.yml
  clippy: any of: packages/api/**/*, Cargo.toml, Cargo.lock, rustfmt.toml, .gitlab-ci.yml
  fmt: any of: packages/api/**/*, Cargo.toml, Cargo.lock, rustfmt.toml, .gitlab-ci.yml
  test: any of: packages/api/**/*, Cargo.toml, Cargo.lock, rustfmt.toml, .gitlab-ci.yml
